html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.form-group {
  margin-bottom: 15px; /* Adjust this value as needed */
  display: flex;
  flex-direction: column;
}

.welcome p {
  font-size: 20px; /* Adjust this value to make the text bigger */
  line-height: 1.5;
  margin: 20px 0; /* Optional: Adds space around the text */
}

#root {
  height: 100%;
  width: 100%;
}

.page-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
  min-width: 100vh;
}

.login-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  min-width: 100vh;
}

.sign-up-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  min-height: 100vh;
  min-width: 100vh;
}

.outer-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  min-width: 100vh;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 20px;
  background-color: #f19527;
  border-bottom: 1px solid #ddd;
  height: 60px;
}

.main-logo img {
  width: 100px;
  height: auto;
  margin-right: 20px;
}

.nav-tabs ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 5;
}

.nav-tabs li {
  margin-right: 20px;
  padding: 0;
}

.nav-tabs a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
}

.nav-tabs a:hover {
  color: #007bff;
}

.auth-buttons {
  display: flex;
  margin-left: auto;
}

.btn {
  margin-left: 10px;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.btn:hover {
  opacity: 0.8;
}